<!-- index.html -->
{% extends 'base.html' %}
{% block title %} 歡迎光臨圖書館 {% endblock %}
{% block headmessage %} 
    <h3 style='font-family:標楷體;font-size:18pt'>本站圖書列表</a>
{% endblock %}
{% block content %} 
    {% for post in posts %}
    <div class="card">
        <div class="content-2">    
            <div class='card-header-2'>
                <div class='container'>
                    <div class='a'>
                        <p style='font-family:微軟正黑體;font-size:14pt;color:495057;font-weight:bold;background-color:b3dee2'>
                            <a href='/post/{{post.slug}}'>{{ post.title }}</a>
                        </p>
                    </div>
                    <p style='font-family:微軟正黑體;font-size:14pt;color:495057;font-weight:bold;'>
                        {{ post.author }}
                    </p>
                </div>
            </div>
            <hr>
            <div class='card-body-2' style='font-family:微軟正黑體;font-size:12pt;color:495057;'>
                <p>
                    {{ post.body | truncatechars:25 }}
                </p>
            </div>
            <hr>
            <div class='card-footer-2' style='font-family:微軟正黑體;font-size:10pt;color:495057'>
                <p>
                    出版日期：{{ post.date }}
                </p>
            </div>
        </div>
    </div>
    <br>
    {% endfor %}
{% endblock %}
